<div class="card-content">
    <div class="card-img">
        <img src={{rango.url}}
            alt="..">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{rango.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of rango.servicios">
                <span [ngSwitch] = 's'>
                    <i *ngSwitchCase="'Desayuno'" style="color: red;"> {{s}}</i>
                    <i *ngSwitchDefault> {{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card"(click)="ir()" >Ir!</a>
        <span *ngIf="rango.isSelected()" >
            <!-- El ngNonBindable sirve para indicar que todo lo que vayamos a poner se interprete directo y no como angular-->
            <span ngNonBindable>- {{PREFERIDO}} -</span>
            <a [routerLink]="['/destino']">Destino</a>
        </span>
    </div>
</div>